<h1 mat-dialog-title>Add File</h1>
<div mat-dialog-content>
    <input mat-input placeholder="Select a file" multiple ng2FileSelect [uploader]="uploader" name="file" type="file">

    <div *ngFor="let item of uploader.queue">
        <div>File Name: {{item.file.name}}</div>
        <div class="m-3">
            <div fxFlex="50">
                Progress: {{item.progress}}%
                <mat-progress-bar mode="determinate" value="{{item.progress}}"></mat-progress-bar>
            </div>
            <div>
                <button mat-raised-button color="primary" *ngIf="valid && uploader.queue.length === 1" class="m-2"
                    (click)="item.upload()">Upload</button>
                <button mat-flat-button color="warn" class="m-2" (click)="item.remove()">Remove</button>
            </div>
        </div>
        <div *ngIf="!valid">
            <mat-error>Please choose a file with a valid format.Eg pdf, docx, jpg, png</mat-error>
        </div>
    </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button *ngIf="uploader.queue.length > 0 && valid === true" mat-button (click)="uploader.uploadAll()">Upload
        All</button>
    <span class="m-a"></span>
    <button mat-button (click)="closeDialog()">Close</button>
</div>