<h1 mat-dialog-title>Delete File?</h1>
<div mat-dialog-content>
    <p>Are you sure you want to delete file: <strong>{{name}}</strong></p>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button (click)="deleteFile()" color="warn">Delete</button>
    <button mat-button (click)="closeDialog()">Close</button>
</div>