<mat-sidenav-container class="h-100">
    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60"
            class="mat-elevation-z6">
            <app-content-header [icon]="'exit_to_app'" [title]="'Change Password'" [hideBreadcrumb]="true"
                [hasBgImage]="true" [class]="'py-4'"></app-content-header>
            <div class="p-3">
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail</mat-icon>
                    <input matInput placeholder="Email" type="email" [formControl]="email" />
                    <mat-error *ngIf="
              form.get('email').touched &&
              form.get('email').hasError('required')
            ">Email is required</mat-error>
                    <mat-error *ngIf="
              form.get('email').dirty && form.get('email').hasError('email')
            ">Invalid email address</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                    <input matInput placeholder="Old Password" type="password" [formControl]="oldPassword" />
                    <mat-error *ngIf="form.get('oldPassword').dirty && form.get('oldPassword').hasError('required')">Old
                        Password
                        is
                        required</mat-error>
                    <mat-error *ngIf="form.get('oldPassword').dirty && form.get('oldPassword').hasError('minlength')">
                        Old Password
                        isn't long enough, minimum
                        of 6 characters</mat-error>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                    <input matInput placeholder="New Password" type="password" [formControl]="newPassword" />
                    <mat-error *ngIf="form.get('newPassword').dirty && form.get('newPassword').hasError('required')">New
                        Password
                        is
                        required</mat-error>
                    <mat-error *ngIf="form.get('newPassword').dirty && form.get('newPassword').hasError('minlength')">
                        New Password
                        isn't long enough, minimum
                        of 6 characters</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="!form.valid" class="mat-elevation-z6 w-100 mt-3"
                    type="submit">
                    SIGN IN
                </button>
            </div>
        </form>
    </div>
</mat-sidenav-container>