<app-content-header
  icon="dashboard"
  desc="Welcome to Dashboard !"
  [hideBreadcrumb]="true"
  [hasBgImage]="true"
  [class]="'py-3'"
></app-content-header>

<div class="p-2">
  <!-- <app-tiles></app-tiles> -->
  <!-- <app-info-cards></app-info-cards> -->
  <!-- <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="45" class="p-2"> 
            <app-disk-space></app-disk-space>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="55" class="p-2">
            <app-todo></app-todo>
        </div>
    </div> -->
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="70" class="p-2">
      <app-analytics></app-analytics>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="30" fxLayout="column">
      <div fxFlex="100" class="p-2">
        <mat-card class="secondary-text-color p-4">
          <div fxLayout="row" fxLayoutAlign="space-between center" class="">
            <h2>25,000</h2>
            <p class="text-truncate mx-1">Overall Performance</p>
          </div>
          <mat-progress-bar mode="determinate" value="53"></mat-progress-bar>
          <p class="mt-3 text-truncate">53% higher than last month</p>
        </mat-card>
      </div>
      <div fxFlex="100" class="p-2">
        <mat-card class="secondary-text-color p-4">
          <div fxLayout="row" fxLayoutAlign="space-between center" class="">
            <h2>73,500</h2>
            <p class="text-truncate mx-1">Active Installations</p>
          </div>
          <mat-progress-bar
            mode="determinate"
            value="27"
            color="warn"
          ></mat-progress-bar>
          <p class="mt-3 text-truncate">27% less than last month</p>
        </mat-card>
      </div>
      <div fxFlex="100" class="p-2">
        <mat-card class="secondary-text-color p-4">
          <div fxLayout="row" fxLayoutAlign="space-between center" class="">
            <h2>81,750</h2>
            <p class="text-truncate mx-1">Total downloads</p>
          </div>
          <mat-progress-bar mode="determinate" value="68"></mat-progress-bar>
          <p class="mt-3 text-truncate">68% higher than last month</p>
        </mat-card>
      </div>
    </div>
  </div>

  <!-- <app-team></app-team> -->
</div>
