<mat-sidenav-container class="h-100">
    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60"
            class="mat-elevation-z6">
            <app-content-header [icon]="'exit_to_app'" [title]="'Login'" [hideBreadcrumb]="true" [hasBgImage]="true"
                [class]="'py-4'"></app-content-header>
            <div class="p-3">
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail</mat-icon>
                    <input matInput placeholder="Email" type="email" [formControl]="email" />
                    <mat-error *ngIf="
              form.get('email').touched &&
              form.get('email').hasError('required')
            ">Email is required</mat-error>
                    <mat-error *ngIf="
              form.get('email').dirty && form.get('email').hasError('email')
            ">Invalid email address</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                    <input matInput placeholder="Password" type="password" [formControl]="password" />
                    <mat-error *ngIf="form.get('password').dirty && form.get('password').hasError('required')">Password
                        is
                        required</mat-error>
                    <mat-error *ngIf="form.get('password').dirty && form.get('password').hasError('minlength')">Password
                        isn't long enough, minimum
                        of 6 characters</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="!form.valid || clicked"
                    class="mat-elevation-z6 w-100 mt-3" type="submit">
                    SIGN IN
                </button>
            </div>
        </form>
    </div>
</mat-sidenav-container>