<div *ngIf="user.id">
    <h1 mat-dialog-title>Edit User</h1>
    <div mat-dialog-content>
        <form [formGroup]="updateForm" class="user-form p-2">
            <div fxLayout="column" class="form-field-outer">
                <mat-form-field class="w-100">
                    <mat-placeholder>
                        <mat-icon>person</mat-icon> Email
                    </mat-placeholder>
                    <input matInput formControlName="username" required>
                    <mat-error *ngIf="updateForm.controls.username.errors?.required">Email is required</mat-error>
                    <!-- <mat-error *ngIf="updateForm.controls.username.hasError('minlength')">Username isn't long enough,
                        minimum of 5 characters</mat-error> -->
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input matInput placeholder="Name" formControlName="name">
                    <mat-error *ngIf="updateForm.controls.name.errors?.required">Name is required</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role" matNativeControl required>
                        <mat-option value="User">User</mat-option>
                        <mat-option value="Uploader">Uploader</mat-option>
                        <mat-option value="Admin">Admin</mat-option>
                    </mat-select>
                    <mat-error *ngIf="updateForm.controls.role.errors?.required">Role is required</mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-raised-button color="primary" (click)="updateUser()" [disabled]="!updateForm.valid">Update</button>
        <button mat-raised-button color="warn" (click)="close()">Cancel</button>
    </div>
</div>

<!-- Add User Form -->
<div *ngIf="!user.id">
    <h1 mat-dialog-title>Add user</h1>
    <div mat-dialog-content>
        <form [formGroup]="form" class="user-form p-2">
            <div fxLayout="column" class="form-field-outer">
                <mat-form-field class="w-100">
                    <mat-placeholder>
                        <mat-icon>person</mat-icon> Email
                    </mat-placeholder>
                    <input matInput formControlName="username" required>
                    <mat-error *ngIf="form.controls.username.errors?.required">Email is required</mat-error>
                    <mat-error *ngIf="form.controls.username.hasError('minlength')">Username isn't long enough,
                        minimum of 5 characters</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input matInput placeholder="Name" formControlName="name">
                    <mat-error *ngIf="form.controls.name.errors?.required">Name is required</mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="!user.id" class="w-100">
                    <mat-placeholder>
                        <mat-icon>vpn_key</mat-icon> Password
                    </mat-placeholder>
                    <input matInput formControlName="password" required [type]="passwordHide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="passwordHide = !passwordHide">
                        {{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                    <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough,
                        minimum of 6 characters</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role" matNativeControl required>
                        <mat-option value="User">User</mat-option>
                        <mat-option value="Uploader">Uploader</mat-option>
                        <mat-option value="Admin">Admin</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.role.errors?.required">Role is required</mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-raised-button color="primary" (click)="addUser()" [disabled]="!form.valid">Save</button>
        <button mat-raised-button color="warn" (click)="close()">Cancel</button>
    </div>
</div>