<app-content-header [icon]="'folder'" [title]="'Files'" [desc]="
    'View information about the files, search, add, edit or delete any file.'
  " [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-5'"></app-content-header>

<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="px-2 user-toolbar">
    <div fxLayout="row">
        <button *ngIf="role === 'Uploader'" mat-icon-button (click)="openFileUploadModal()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-toolbar>

<div fxLayout="column" class="p-2">
    <div fxFlex="100">
        <ngx-datatable #table class="material" [headerHeight]="50" [limit]="10" [columnMode]="'force'"
            [footerHeight]="50" [rowHeight]="'auto'" [rows]="files" [loadingIndicator]="loadingIndicator"
            (select)="onSelect($event)">
            <ngx-datatable-column name="ID" [width]="30" [sortable]="true" [canAutoResize]="false" [draggable]="true"
                [resizeable]="false">
            </ngx-datatable-column>
            <ngx-datatable-column name="name">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="createdAt">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{ value| date:'longDate' }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name=" " prop="name">
                <ng-template ngx-datatable-cell-template let-value="value">
                    <span *ngIf="role !== 'User'" (click)="openDeleteFileModal(value)">
                        <mat-icon color="warn">delete</mat-icon>
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span (click)="download(value)">
                        <mat-icon>cloud_download</mat-icon>
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span (click)="preview(value)">
                        <mat-icon>remove_red_eye</mat-icon>
                    </span>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>