<app-content-header [icon]="'supervisor_account'" [title]="'Users'"
    [desc]="'View information about the users, search, add, edit or delete any user.'" [hideBreadcrumb]="false"
    [hasBgImage]="true" [class]="'pb-5'"></app-content-header>

<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="px-2 user-toolbar">
    <div fxLayout="row">
        <button mat-icon-button (click)="openUserDialog(null)">
            <mat-icon>person_add</mat-icon>
        </button>
        <!-- <button mat-icon-button (click)="showSearch = !showSearch" class="mx-2">
            <mat-icon>search</mat-icon>
        </button> -->
    </div>
    <!-- <form class="user-search" [class.show]="showSearch">
        <mat-form-field class="user-search-input">
            <input matInput placeholder="Search user by name..." [(ngModel)]="searchText" name="search">
        </mat-form-field>
    </form> -->
    <div fxLayout="row">
        <!-- <button mat-icon-button (click)="changeView('grid')" class="mx-2">
            <mat-icon>view_module</mat-icon>
        </button> -->
    </div>
</mat-toolbar>

<div class="users-wrapper p-2">
    <div *ngIf="viewType == 'grid'" fxLayout="row wrap">
        <div *ngFor="let user of users" fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" fxFlex.sm="50" class="p-2">
            <mat-card fxLayout="row" class="p-0 user-content">
                <div fxFlex="100" class="user-details">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <h4 class="user-name px-2">{{user.name}}</h4>
                        <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                    <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
                        <span (mouseleave)="menuTrigger.closeMenu()">
                            <button mat-menu-item (click)="openDeleteUserDialog(user)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </span>
                    </mat-menu>
                    <mat-divider></mat-divider>
                    <div class="info-list mx-2">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">card_membership</mat-icon>
                            <span>{{user.role}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">mail_outline</mat-icon>
                            <span>{{user.username}}</span>
                        </p>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div *ngIf="users" fxLayout="row wrap">
        <div fxFlex="100" class="p-2">
            <mat-card class="p-0 text-center">
                <pagination-controls class="annular-pagination" autoHide="true" maxSize="3"
                    (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>
    <div *ngIf="!users" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</div>