<app-content-header [icon]="'person'" [title]="'Profile'" [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-4'">
</app-content-header>

<div fxLayout="row wrap" class="p-2">
  <div fxFlex="100" fxFlex.sm="35" fxFlex.md="30" fxFlex.lg="25" class="p-2 info">
    <mat-card>
      <mat-card-content>

      </mat-card-content>

    </mat-card>
  </div>

</div>